# .env.example
GEMINI_API_KEY=
NSTA_API_KEY=
OPRED_API_KEY=
NDR_API_KEY=
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_PROVIDER_URL=
APP_URL=
SHARED_APP_URL=
STRIPE_SECRET_KEY=
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_DATABASE_ID=
